__pycache__
.vscode
*.pyc
.DS_Store
processing/data/2023-02-22
processing/output/2023-02-22
processing/tests
processing/unused
processing/output/*.parquet
processing/*.ipynb
processing/.ipynb_checkpoints
*.csv
gusts.py
update_siteid_file.py
*.parquet